<html>
<head>
    <title> project</title>
    <style>
        body
        {
            background-color: pink;
        }
        h1
        {
            background-color: yellow;
            color:blue;
            text-align: center;
        }
        p
        {
            background-color: green;
            color:white;
            text-align: center;
            font-family: "Arial Black";
            font-size: 25px;
        }
    </style>
</head>
<body>
<h1>SBI Banking</h1>
<p>Ameerpet,hyderabad</p>
</body>
</html>